@charset "utf-8";

$size-unit: 4px;
$size-xs: $size-unit;
$size-sm: $size-unit * 2;
$size-md: $size-unit * 3;
$size-lg: $size-unit * 4;

$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-title: $font-lg;

$bar-footer-height: 49px;
